@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #5f2397;
  text-decoration: none;
  margin-left: 1rem;
}

body {
  margin: 0;
  font-family: "BIZ UDPGothic", sans-serif;
  color: #5e00a0;
  background-color: #f5f5f5;
  line-height: 1.6;
}

/* bodyに付くやつ */
.no-scroll {
  overflow: hidden;
}

header,
footer {
  background: #f9d1ad;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* =========================
  Header
========================= */
header {
  background: #fdd6ac;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* absoluteのhamburger基準にするなら入れる */

  .logo {
    font-size: 3rem;
    font-weight: 600;
    margin-left: 3rem;
  }

  .main-nav {
    display: flex;
    margin-right: 3rem;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 20px;
      font-size: 2rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 20px;
    }

    a {
      text-decoration: none;
      color: #5f2397;
      font-size: 1.5rem;
      font-weight: bold;
      transition: color 0.3s ease;
    }

    a:hover {
      color: #5f2397;
    }
  }

  /* 1440px */
  @media (max-width: 1440px) {
    .logo {
      font-size: 2.6rem;
      margin-left: 2rem;
    }

    .main-nav {
      margin-right: 2rem;
    }
  }

  /* 768px */
  @media (max-width: 768px) {
    .logo {
      font-size: 2rem;
      margin-left: 1rem;
    }

    .main-nav {
      display: none;
    }

    .hamburger {
      display: flex;
    }
  }
}

/* =========================
  Hero
========================= */
.hero {
  background: #fdd6ac;
  padding: 6rem 1rem;
  text-align: center;

  h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
  }

  /* 1440px */
  @media (max-width: 1440px) {
    padding: 5rem 1rem;

    h1 {
      font-size: 3.4rem;
    }
  }

  /* 768px */
  @media (max-width: 768px) {
    padding: 4rem 1rem;

    h1 {
      font-size: 2.6rem;
    }
  }
}

/* =========================
  About Pricing
========================= */
.about-pricing {
  background: #eeeeee;
  padding: 5rem 1rem;

  h2 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 3rem;
    text-align: center;
  }

  p {
    font-size: 2rem;
    margin-left: 25rem;
  }

  /* 1440px */
  @media (max-width: 1440px) {
    h2 {
      font-size: 3.2rem;
    }
    p {
      margin-left: 20rem;
      font-size: 1.5rem;
    }
  }

  /* 768px */
  @media (max-width: 768px) {
    h2 {
      font-size: 2.4rem;
    }
    p {
      margin-left: 7rem;
      font-size: 1rem;
    }
  }
}

/* =========================
  Course Block
========================= */
.course-block {
  background: #ff8900;
  padding: 4rem;
  text-align: center;

  h2 {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 3rem;
    color: #5f2397;

    &::after {
      content: "";
      display: block;
      height: 6px;
      width: 15vw;
      background: #5f2397;
      margin: 1rem auto 0;
    }
  }

  .courses-table {
    display: grid;
    grid-template-columns: 160px 1fr 1fr;
    overflow: hidden;
    margin: 4vw;

    .purpose,
    .period,
    .price,
    .detail {
      display: contents;
    }

    .cell {
      padding: 3rem 2rem;
      border: 4px solid #edeced;
      background: #ff8400;
      line-height: 1.8;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      p {
        margin: 0;
      }
    }

    .head {
      background: #fbd4b1;
      font-weight: 700;
      font-size: 2.5rem;
      padding: 3rem 0 3rem 0;
      border: 2px solid #edeced;

      &:last-child {
        border-right: none;
      }
    }

    .label {
      background: #ffe2c6;
      font-weight: 700;
      color: #5f2397;
      padding: 2rem 1rem 2rem 1rem;
      font-size: 3rem;
      border: 4px solid #edeced;
    }

    .value {
      font-size: 2rem;
      font-weight: 400;
    }

    .detail .value {
      text-align: center;
    }

    .cell-head,
    .head-cell {
      margin: 0;
    }

    .label-title,
    .cell-value {
      padding-top: 0;
    }

    .purpose {
      p {
        .sp-only {
          display: none;
        }
        .pc-only {
          display: block;
        }
      }
    }
  }

  /* 1440px */
  @media (max-width: 1440px) {
    padding: 3rem;

    h2 {
      font-size: 3.2rem;
    }

    .courses-table {
      .head {
        font-size: 2.1rem;
      }
      .label {
        font-size: 2.4rem;
      }
      .value {
        font-size: 1.8rem;
      }
    }
  }

  /* 768px */
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  .courses-table {
    .head {
      font-size: 1rem;
    }
    .label {
      font-size: 2rem;
    }
    .value {
      font-size: 1rem;
    }
  }
}

/* =========================
  Option
========================= */
.option {
  background: #e8e8e8;
  padding: 5rem 1rem;

  h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: center;

    &::after {
      content: "";
      display: block;
      height: 6px;
      width: 15vw;
      background: #5f2397;
      margin: 1rem auto 0;
    }
  }

  h3 {
    margin-bottom: 5rem;
    font-size: 3rem;
    margin-left: 35rem;
  }

  .box {
    display: flex;
    margin-left: 10vw;
    gap: 10vw;

    p {
      font-size: 2.5rem;

      strong {
        font-weight: 800;
      }
    }

    img {
      width: 100%;
      max-width: 700px;
    }
  }

  /* 1440px */
  @media (max-width: 1440px) {
    h2 {
      font-size: 3.2rem;
    }

    h3 {
      margin-left: 25rem;
      font-size: 2.4rem;
    }

    .box {
      gap: 6vw;

      p {
        font-size: 1.5rem;
      }
    }
  }

  /* 768px */
  @media (max-width: 768px) {
    padding: 4rem 1rem;

    h2 {
      font-size: 2.4rem;

      &::after {
        width: 40vw;
      }
    }

    h3 {
      margin-left: 0;
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }

    .box {
      flex-direction: column;
      margin-left: 0;
      gap: 2rem;
      align-items: center;

      p {
        font-size: 1.2rem;
      }

      img {
        max-width: 420px;
      }
    }
  }
}

/* =========================
  Payment
========================= */
.payment {
  background: white;
  padding-top: 4rem;
  padding-bottom: 8rem;

  h2 {
    font-size: 4rem;
    margin-bottom: 6rem;
    text-align: center;

    &::after {
      content: "";
      display: block;
      height: 6px;
      width: 15vw;
      background: #5f2397;
      margin: 1rem auto 0;
    }
  }

  p {
    font-size: 2.5rem;
    margin-left: 45rem;
  }

  /* 1440px */
  @media (max-width: 1440px) {
    h2 {
      font-size: 3.2rem;
    }
    p {
      margin-left: 32rem;
      font-size: 2rem;
    }
  }

  /* 768px */
  @media (max-width: 768px) {
    h2 {
      font-size: 2.4rem;

      &::after {
        width: 40vw;
      }
    }

    p {
      margin-left: 0;
      text-align: center;
      font-size: 1.4rem;
    }
  }
}

/* =========================
  Contact
========================= */
.contact {
  background: #ff8f1f;
  padding: 5rem 2rem;
  color: #5f2397;

  h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
    display: block;
    text-align: center;

    &::after {
      content: "";
      display: block;
      height: 5px;
      width: 12rem;
      background: #5f2397;
      margin: 1rem auto;
    }
  }

  h3 {
    margin-bottom: 3vw;
    font-size: 3rem;
    text-align: center;

    .sp-only {
      display: none;
    }
  }

  p {
    font-size: 2.5rem;
    margin-left: 25rem;
    padding-bottom: 2rem;
  }

  .btn {
    background: white;
    color: #5f2397;
    padding: 0.75rem 8rem;
    border-radius: 40px;
    display: inline-block;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 42rem;
  }

  /* 1440px */
  @media (max-width: 1440px) {
    h2 {
      font-size: 3.2rem;
    }
    h3 {
      font-size: 2.4rem;
    }
    p {
      margin-left: 20rem;
      font-size: 2rem;
    }
    .btn {
      margin-left: 0;
      display: block;
      width: fit-content;
      margin: 2rem auto 0;
    }
  }

  /* 768px */
  @media (max-width: 768px) {
    padding: 4rem 1rem;

    h2 {
      font-size: 2.4rem;

      &::after {
        width: 10rem;
      }
    }

    h3 {
      font-size: 1.8rem;

      .sp-only {
        display: inline;
      }
    }

    p {
      margin-left: 0;
      text-align: center;
      font-size: 1.4rem;
    }

    .btn {
      padding: 0.75rem 4rem;
      font-size: 1.6rem;
    }
  }
}

/* =========================
  Footer
========================= */
footer {
  .logo {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 2rem;
  }

  nav {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
  }

  /* 1440px */
  @media (max-width: 1440px) {
    .logo {
      font-size: 1.8rem;
    }
  }

  /* 768px */
  @media (max-width: 768px) {
    display: block;
    padding: 2rem 1.5rem;
    text-align: center;

    .logo {
      margin-left: 0;
      margin-bottom: 1rem;
    }

    nav {
      margin-bottom: 1rem;

      a {
        margin: 0 0.5rem;
      }
    }
  }
}

/* =========================
  Hamburger / Mobile Menu
========================= */
.hamburger {
  display: none; /* headerの768で出す */
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 50;
  flex-direction: column;
  gap: 5px;

  span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #5f2397;
    border-radius: 2px;
  }
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff8f1f;
  background-size: cover;
  background-position: center;
  backdrop-filter: brightness(0.7);
  z-index: 100;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;

  /* ✅ ここ重要：mobile-menuに show が付く形 */
  &.show {
    display: flex;
    opacity: 1;
    animation: fadeIn 0.4s ease forwards;
  }

  ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  li {
    margin: 20px 0;
  }

  a {
    font-size: 3rem;
    color: #5f2397;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #5f2397;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    color: #5f2397;
    cursor: pointer;
  }
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
