.c-check {
  display: flex;
  align-items: center;
  gap: 10px;

  &__input {
    width: 18px;
    height: 18px;
    accent-color: var(--c-navy);
  }

  &__text {
    color: var(--c-muted);
    line-height: 1.7;

    a {
      font-weight: 900;
    }
  }
}
